@{
    ViewData["Title"] = "Home Page";
}
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<!DOCTYPE html>
<html lang="en">
    <body>
        <main>
            <div class="text-center">
                <img src="~/images/LogoB.jpeg"  height="600" width="600"/>
            </div>
        </main>
        
   </body>
</html>