@model IEnumerable<DOC_RASCH.Data.Entities.Document>

@{
    ViewData["Title"] = "Subir Documento";
}



<body>
    <main>
              <div class="login-html">
      <div class="container">
            <div class="container-fluid  justify-content-center">
                <div class="card px-1 py-4">
                    <h3 class="   d-flex justify-content-center">Subir documento</h3>
                <div class="col-md-12"><h1>Subir Documento</h1>
                <form asp-action="RegisDocto" enctype="multipart/form-data">
                    <span style="color_red">@ViewBag.message</span>
                    <label class="control-label"></label>
                    <input type="file" name="file" class="form-control" />
                    <div class="form-group">
                        <input type="submit" asp- class="btn btn-primary" />
                    </div>
                </form>
            </div>
          </div>
        </div>
        </div>
        </div>
        
    </main>
</body>