@model DOC_RASCH.Data.Entities.Section

   <link rel="stylesheet" href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.min.css" />
@{
    ViewData["Title"] = "Create";
}

@{
    List<DOC_RASCH.Data.Entities.File> listaFiles = ViewBag.Carpetas;
 

}
<body>
    <main>
              <div class="login-html">
      <div class="container">
            <div class="container-fluid  justify-content-center">
                <div class="card px-1 py-4">
                    <h3 class="   d-flex justify-content-center">Registrar Sección</h3>
                <div class="col-md-12">

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FileName" class="control-label"></label>
                <input asp-for="FileName" class="form-control" />
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileId" class="control-label"></label>
                <select asp-for="FileId" class="form-control">
                    @foreach (var files in listaFiles)
                    {
                        <option value="@files.Id">@files.FileName</option>
                    }
                </select>
                <span asp-validation-for="FileId" class="text-danger" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Url" value="ruta" class="form-control" />
            </div>
            <div class="form-group">
                <input type ="hidden" value =1 asp-for="Active" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success">Regresar</a>
            </div>
        </form>
    </div>
          </div>
        </div>
        </div>
        </div>
       
    </main>
</body>