@{
    ViewData["Title"] = "Confirmación de Email";
}

<h2>@ViewData["Title"]</h2>

<body>
    <div class="login-html">
      <div class="container">
            <div class="container-fluid  justify-content-center">
                

<h2>@ViewData["Title"]</h2>
<div>
    <p><strong>Gracias por confirmar su cuenta. Ya puedes ingresar al sistema.</strong></p>
    <p>Si no has asignado una contraseña, tu contraseña actual es: 123456, recuerde cambiarla por una más segura y de fácil recordar para usted.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</body>